body{
    text-decoration: none;
    margin: 0%;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
a,a:hover,a:link,a:visited,a:active,a:focus{
    text-decoration: none;
    color: #ffaa64;
    outline: none;
}
.header{
    background-color: #ff6464;
    color: #ffaa64;
    height: 120px;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 32pt;
    display: inline-block;
    line-height: 100%;
    height: 120px;
    margin-top: 1%;
}
.fa-shopping-cart{
    background-color: #ff6464;
    font-size: 32pt;
    text-align: center;
    float: right;
    padding-top: 20%;
    padding-right: 8%;
    border: #ffaa64 solid 5px;
    border-radius: 50px;
    height: 60%;
    width: 70%;
}
.fa-shopping-cart.show{
    background-color: #ff6464;
    font-size: 32pt;
    text-align: right;
    float: right;
    padding-top: 8%;
    padding-right: 8%;
    border: #ffaa64 solid 5px;
    border-radius: 50px;
    height: 70%;
    width: 60px;
}
.price{
    display: inline-block;
    margin-top: 10%;
    margin-left: 10%;
    font-size: 0;
}
.price.show{
    display: inline-block;
    margin-top: 10%;
    margin-left: 10%;
    font-size: 25pt;
}
@media  screen and (max-width: 1300px) and (min-width: 1141px){
    .price.show{
        margin-top: 15%;
        margin-left: 15%;
        font-size: 18pt;
    }
}
@media  screen and (max-width: 1140px){
    .price.show{
        margin-top: 20%;
        margin-left: 15%;
        font-size: 12pt;
    }
    .fa-shopping-cart{
        background-color: #ff6464;
        font-size: 32pt;
        text-align: center;
        float: right;
        padding-top: 20%;
        padding-right: 8%;
        border: #ffaa64 solid 5px;
        border-radius: 50px;
        height: 60%;
        width: 90%;
    }
}
.logo-box{
    width: 90%;
}
.cart{
        /* background-color: #ff3421; */
        margin-top: 0.5%;
        width: 6.5%;
        height: 80%;
        /* border: #ffaa64 solid 5px; */
        border-radius: 50px;
        transition: 0.2s linear;
}
.cart.show{
    background-color: #fff5a5;
    margin-top: 0.5%;
    width: 20%;
    height: 80%;
    border: #ffaa64 solid 5px;
    border-radius: 50px;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: #fff5a5;
    padding: 0.5% 10%;
    font-size: 18pt;
    border-top: #ffaa64 solid 5px;
    border-bottom: #ffaa64 solid 5px;
    color: #ffaa64;
}
.slider{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slider_item{
    margin: 50px auto;
    width: 921px;
}
.slick-track{
    display: flex;
}
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    list-style: none;
    margin: 0 1%;
}
.slick-dots button{
    font-size: 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-decoration: none;
    border: 0;
    background-color: #ff8264;
    transition: 0.2s linear;
}
.slick-active button{
    background-color: #ffaa64;
}
.slider .slick-arrow{
    position: absolute;
    top: 40%;
    font-size: 0;
    width: 43px;
    height: 64px;
    border: 0px;
    z-index: 10;
}
.slider .slick-arrow.slick-prev{
    left: 1%;
    background:url(arrleft.png) 0 0 no-repeat;
    
}
.slider .slick-arrow.slick-next{
    right: 2%;
    background:url(arrright.png) 0 0 no-repeat;
    font-size: 0;
}
button:active, button:focus, .slider_item {
    outline: none;
}
.slider_img{
      width: 80%;
      margin-left: 10%;
}
.footer{
    background: url(footer.png) no-repeat;
    background-size: cover;
    height: 394px;
}
.urls{
    padding-top: 5%;
    padding-left: 2%;
    display: inline-block;
}
.bro{
    float: right;
    margin-top: 10%;
    margin-right: 2%;
}
@media  screen and (max-width: 1140px){
    .bro{
        width: 20%;
    }
}
.events a .slider_img{
    margin-top: 5%;
}
.event{
    background-image: url(slider1.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 20%;
}
.product{
    font-weight: bold;
    display: inline-block;
    width: 20%;
    height: 350px;
    background-color: #fff5a5;
    color: #ff8264;
    font-size: 24pt;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    text-align: center;
    border-radius: 50px;
    overflow: hidden;
}
.production{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-page{
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    border-radius: 50px;
}
.product-title{
    font-size: 48pt;
    margin-left: 2%;
}
.product-price{
    font-size: 24pt;
    font-weight: bold;
}
.cart-page{
    display: flex;
    background-color: bisque;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    border-radius: 50px;
}
.total{
    font-size: 36pt;
    display: inline-block;
    margin: 2%;
}
.add-to-cart{
    font-size: 18pt;
}
.check{
    background-color: #fff5a5;
    border-radius: 50px;
    font-size: 24pt;
    float: right;
    margin: 2%;
}
.create_total{
    background-color: #fff5a5;
    display: inline-block;
    float: right;
    padding: 1%;
    border-radius: 40px;
    margin-top: 2%;
    font-size: 24pt;
}
.center{
    text-align: center;
}
.create-form{
    display: inline-block;
    background-color: #fff5a5;
    padding: 1.5%;
    border-radius: 30px;
    margin-left: 2%;
    margin-top: 2%;
    font-size: 24pt;
}
.languages{
    font-size: 18pt;
    background-color: #fff5a5;
    border: #ff8264 solid 2px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    display: inline-block;
    margin: 2% 2%;
    height: 100%;
    z-index: 10;
    border-radius: 50px;
    transition: linear 0.1s;
}
.languages.hiden{
    font-size: 18pt;
    background-color: #fff5a5;
    border: #ff8264 solid 2px;
    padding-left: 1%;
    padding-right: 1%;
    display: inline-block;
    height: 30%;
    margin: 2% 2%;
    border-radius: 20px;
}
.languages-table{
    font-size: 18pt;
}
.languages-table.hiden{
    font-size: 0;
}