<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Pizza You Deserve</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fe75cde472.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <div class="logo-box">
            <img src="{% static 'Logo.png' %}" style="height: 100px; margin: 0.5% 0 0 1%;">
            <div class="logo"><a href="{% url 'index' %}"><b>Lorem<br> Pizzum</b></a></div>
        </div>
        <div class="languages hiden"><a href="#">{% trans 'languages' %} </a><br>
            <div class="languages-table hiden">
                {% for language in languages %}
              <a href="/{{ language.code }}/" {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                {{ language.name_local }}
              </a><br>   
                {% endfor %} 
            </div>
        </div>
        <div class="cart" id='hide-cart'><b class="price">${{cart.get_total_price}}</b>
            {% if cart.get_total_price != 0 %}
              <a href="{% url 'cart_detail' %}"><i class="fas fa-shopping-cart" ></i></a>

            {% else %}
              <a href="#"><i class="fas fa-shopping-cart" ></i></a>
            {% endif %}
        </div>
    </div>
    <div class="nav">
        <div><a href="{% url 'menu' %}">{% trans 'menu' %}</a></div> <div><a href="">{% trans 'events' %}</a></div> <div><a href="">{% trans 'about company' %}</a></div>
    </div>
    {% block content %}

    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{% static 'slick.min.js' %}"></script>
    <script src="{% static 'functions.js' %}"></script>
</body>
</html>