{% extends "base.html" %}
{% load i18n %}
{% load static %}
  {% block content %}
        {% for item in cart %}
        <div class="cart-page">
            <img src="{{item.product.img.url}}" style="width: 30%;">
            <div class="product-title">{{item.product.title}}<br>
              <i class="product-price">${{item.price}} X {{item.quantity}} = ${{item.total_price}}</i><br>
              <a href="remove/{{ item.product.id }}/">Delete</a>
            </div>
        </div>
        {% endfor %}
        <div class="total">{% trans 'Total:' %}${{cart.get_total_price}}</div>
        {% if cart.get_total_price != 0 %}
              <a href="{% url 'order_create' %}" class="check">{% trans 'Checkout' %}</a>

            {% else %}
              <a href="#" class="check">{% trans 'Checkout' %}</a>
            {% endif %}
  {% endblock %}