{% extends 'base.html' %}
{% load i18n %}
{% load static %}
  {% block content %}
  <div class="create_total">
      <div class="center">{% trans 'Cart:' %}</div>
      {% for item in cart %}
      <li>
      {{ item.quantity }}x {{ item.product.title }}
      <span>${{ item.total_price }}</span>
      </li>
      {% endfor %}
  </div>
  <div class="create-form">
    <form action="." method="post" class="order-form">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Place order"></p>
      </form>
  </div>
  {% endblock %}