{% extends "base.html" %}
{% load i18n %}
  {% block content %}
    {% load static %}
    <div class="slider">
        <div class="slider_item">
            <a href=""><img src="{% static 'slider1.png' %}" class="slider_img"></a>
        </div>
        <div class="slider_item">
            <a href=""><img src="{% static 'slider2.png' %}" class="slider_img"></a>
        </div>
        <div class="slider_item">
            <a href=""><img src="{% static 'slider3.png' %}" class="slider_img"></a>
        </div>
    </div>
    <div class="footer">
        <div class="urls">
            <a href=""><img src="{% static 'appstore.png' %}" alt=""></a><br><br><br>
            <a href=""><img src="{% static 'play.png' %}" alt=""></a>
        </div>
        <img src="{% static 'qr.png' %}" style="margin-left: 17%;">
        <img src="{% static 'bigbro.png' %}" class="bro">
    </div>
  {% endblock %}
