{% extends 'base.html' %}
{% load static %}
  {% block content %}
  <div class="production">
    {% for product in products %}
    <div class="product"><a href="{{product.id}}/"><br><img src="{{product.img.url}}" style="width: 80%;height: 50%;"><br>{{product.title}}<br><br>${{product.price}}<br><br></a></div>
    {% endfor %}
  </div>
  {% endblock %}