{% extends 'base.html' %}
{% load i18n %}
{% load static %}
  {% block content %}
    <div class="product-page">
        <img src="{{product.img.url}}" style="width: 30%;">
        <div class="product-title">{{product.title}}<br><i class="product-price">${{product.price}}</i><br>
          <form action="{% url 'cart_add' product.id %}" method="post" class="add-to-cart">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
          </form><br>
        </div>
    </div>
  {% endblock %}